*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    overflow-y: hidden;
}
body{
    font-family: sans-serif;
}

 li:nth-child(3){
     display: none !important;
 }


  .submit{

  }

  .submit {
    /* background: red; */
    /* border: 0;
    font-size: 20px;
    padding: 10px 20px; */
    position: relative;
    animation-name: shake;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    cursor: pointer;
  }
  .submit:hover::after{
      content: " : As of now we dont support otp login";
      color:red
  }
  .submit:hover {
    animation-name: shakeAnim;
  }
  .forgot:hover::after{
      content: ": Please register again";
      font-size: small;
      position: absolute;
    color: red;
      width: 3rem;

  }
  
  @keyframes shakeAnim {
    0% {left: 0}
    1% {left: -3px}
    2% {left: 5px}
    3% {left: -8px}
    4% {left: 8px}
    5% {left: -5px}
    6% {left: 3px}
    7% {left: 0}
  }
  
  @keyframes shake {
    0% {left: 0}
    1% {left: -3px}
    2% {left: 5px}
    3% {left: -8px}
    4% {left: 8px}
    5% {left: -5px}
    6% {left: 3px}
    7% {left: 0}
  }