@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,200&family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.main{
background-color: rgba(49,47,48,255);
height: 584px;
width: 491px;
margin: auto;
margin-top: 82px;
text-align: center;
padding: 20px;
}
.top1{
    color: rgb(255 255 255);
    margin: 33px auto;
    font-size: 20px;
    font-weight: 700;
}
.top1 span{
    color: rgba(230,15,99,255);
    font-size: 24px ;
}

.top1 button{
    background-color: rgb(230 15 99);
    color: rgb(255 255 255);
    width: 406px;
    border-radius: 20px;
    height: 40px;
    text-transform: uppercase;
    border: rgb(49 47 48);
    font-size: 16px;
    font-weight: 700;
}
.dash{
    margin: 10px auto;
     /* border: 1px solid white;  */
    height: 2px;
    width: 50px;
    background-color: white; 
}