@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&family=Montserrat:ital,wght@0,400;1,200&family=Roboto:wght@300;400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    font-family: 'Fira Sans', sans-serif;
    /* color: white; */
}

.main{
    width: 62%;
    height: 50%;
    background-color: rgba(245,245,245,255);
    margin: 6% auto;
}
.main .left{
    width: 49.5%;
    height: 50%;
    padding:1% 0.5%;
   display: inline-block;
}
.main .big{
    position: relative;
}
.main .left .big img{
    width: 100%;
}
.main .left .big .content{
    width: 100%;
    background: rgba(8,52,91,255);
    border: 1px solid black;
    position: absolute;
    top:67%;
    min-width: 100px;
    max-width: 700px;
    color: white;
    padding:10px 15px;
    
}
.main .left .big .content h2{
    font-size: 21px;
    margin-bottom: 10px;
    font-weight: 400;
}
.main .left .big .content h6{
    font-weight: 900;
    /* border: 2px solid yellow; */
    margin: 5px 5px;

    
}
.main .left .big .content p{
    font-weight: 900;
    margin: 5px 5px;
}
/* .big{
   
} */
.left .news{
    margin-top: 20%;
    /* border: 1px solid blue; */
    height: 30%;
    
}

.news{
    width:100%;
    /* border: 1px solid red; */
    background-color: white;
}
.news img{
    width: 30%;
    display: inline-block;
    /* height: 50%; */
}
.news .newscontent{
    width: 69%;
    display: inline-block;
    position: absolute;
    
    
}
.news h6{
    color: rgba(8,52,91,255);
    font-weight: 900;
    margin: 5px 5px;
}
.news p{
    font-size: 13px;
    margin: 5px 5px;
    font-weight: 700;
    
}
.right{
    width: 50%;
    /* height: 50%; */
    padding:1% 1%;
    
   display: inline-block;
   
}
.right .news{
    margin-bottom: 46px;
}
