@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,200&family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}
.top{
    text-align: center;
    
}
.main{
    width:1060px;
    background-color: white;
    height: 100vh;
    margin: 0 auto;
}
.top > div {
    /* border: 1px solid red; */
    display: inline-block;
    height: 258px;
    width: 240px;
    margin-top: 5px;
   padding: 15px;
}


.top > h1{
    /* margin-top: 25px; */
    /* border: 1px solid red; */
    padding:20px 50px;
    text-align: center;
}
p{
    text-align: center;
}

ul{
    margin: 10px;
    padding: 0;
    list-style: none;
    text-align: left;
}
ul li{
    margin:20px 0;
    /* border: 1px solid green; */
}
ul li img{
    
    width: 85px;
    /* border: 1px solid blue; */
    height: 20px;
    padding: 0;
    margin: 0 -10px 0 0;
    align-items: baseline;
}
.red {
    color: rgba(206,133,94,255);
}
li:first-child {
   color: rgba(92,88,112,255);
   text-transform: uppercase;
  }
p:nth-child(2) {
    /* border: 1px solid rgb(0 0 255); */
    height: 3px;
    width: 75px;
    margin: 10px auto;
    background: rgb(0 0 0)
  }

  h1:first-child{
      color: rgba(60,43,84,255);
  }